html {
/*    --main-bg-color: #bac4dd;
    background-color: var(--main-bg-color);*/
}

.bg-main-gradient {
  height: 100vh;
  background-image: linear-gradient(#d6d0c3, #ad580d);
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-grad-0 {
  background-image: linear-gradient(#8cafd2, #33588f);
}

.border-dark-blue {
  border: solid 1px #315589;
}

.font-10 {
  font-size: 1rem;
}

.font-15 {
  font-size: 1.5rem;
}

.font-20 {
  font-size: 2rem;
}

.font-30 {
  font-size: 3rem;
}

.font-50 {
  font-size: 5rem;
}

.signout {
  right: -30px;
  top: .3rem;
}

.tip {
  position: relative;
  padding: 0 2px;
  color: white;
  font-size: 1rem;
  padding: 0 2px;
  background-color: #6c757d;
  border-radius: 6px;
  border-color: #6c757d;
}

.pen {
  bottom: 3rem;
  right: -.8rem;
  width: 9rem;
  text-align: center;
}

.trash {
  bottom: 3rem;
  right: -.8rem;
  width: 8rem;
  text-align: center;
}

.bg-transp {
  background-color: transparent;
}

.bg-grad-1 {
  background-image: linear-gradient(#8ec4a7, #4d8364);
  background-size: cover;
  background-repeat: no-repeat;
}

.border-green-dark {
  border: 1px solid #447557;
  border-radius: 4px;
}

.bg-grey-1 {
  background-color: #e0e0e0;
}

.border-t-dark-grey {
  border-top: 1px solid #707070;
}

.text-green-1 {
  color: #599072;
}

.text-blue-0 {
  color: #32496f;
}

.bg-dark-blue {
  color: #31486e;
}

.cursor-pointer {
  cursor: pointer;
}

.bg-brdr-transparent {
  background-color: transparent;
  border-color: transparent;
}

.border-bot-round {
  border-radius: 0 0 20px 20px;
}

.break-words {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  word-break: break-word;
  hyphens: auto;
}

.border-top:hover {
  background-color: #fcfed5; 
}

.no-border {
  border: none;
}

.not-visible {
  visibility: hidden;
}

.pressed-text {
  color: transparent;
  text-shadow: -1px 1px 0px rgba(255,255,255,0.9);
  background-clip: text;
}

.pressed-plus {
  background-color: #000;
  color: transparent;
  text-shadow: 0px 2px 1px #2f476d;
  background-clip: text;
}
