html {
/*    --main-bg-color: #bac4dd;
    background-color: var(--main-bg-color);*/
}

.bg-main-gradient {
  height: 100vh;
  background-image: linear-gradient(#d6d0c3, #ad580d);
}

.project-bar-bg {
  background-image: linear-gradient(#8cafd2, #33588f);
  border: solid 1px #315589;
}

.font-lg {
  font-size: 1.5rem;
}

.signout {
  right: -3rem;
  top: .3rem;
}

.tip {
  position: absolute; 
  padding: 0 2px;
  color: white;
  font-size: 1rem;
  padding: 0 2px;
  background-color: #6c757d;
  border-radius: 6px;
  border-color: #6c757d;
}

.pen {
  bottom: 3rem;
  right: -.8rem;
  width: 9rem;
  text-align: center;
}

.trash {
  bottom: 3rem;
  right: -.8rem;
  width: 8rem;
  text-align: center;
}

#edProjName:hover .tip {
  visibility: visible;
}
